.hero img{
    width: 50vh;
    height: 50vh;
    border-radius: 50%;
    margin-top: 150px;
}
.hero marquee img{
    width: 300px;
    height: 100px;
    border-radius: 1%;
    margin-top: 10px;
}

.img React{
    width: 100px;
    height: 100px;
}

.hero{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 35px;
}

.hero h1{
    text-align: center;
    width: 70%;
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 30px;
}

.hero h1 span{
    background: linear-gradient(270deg, #DF8908 10%, #8415FF 100% );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.hero p{
    width: 50%;
    text-align: center;
    font-size: 24px;
    line-height: 40px;
}

.hero-action{
    display: flex; 
    align-items: center;
    gap: 25px;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 50px;
} 

.hero-connect{
    padding: 25px 45px;
    border-radius: 50px;
    background: linear-gradient(264deg, #DF8908 -5.09%, #8415FF 106.28%);
    cursor: pointer;
    transition: 0.5s;
}

.hero-resume{
    padding: 25px 75px;
    border-radius: 50px;
    border: 2px solid #fff;
    cursor: pointer;
    transition: 0.5s;
    
}

.hero-resume a{
    color: white;
    text-decoration: none;
}

.hero-connect:hover{
      border: 2px solid white;
      transform: scale(1.05);

}

.hero-resume:hover{
    border-color: #8415FF;
    transform: scale(1.05);
}

@media screen and (max-width: 600px) {

    .hero h1{
        text-align: center;
        width: 100%;
        font-size: 20px;
    }
    
   
    
    .hero-action{
        gap: 12px;
        font-size: 12px;
        font-weight: 300;
        flex-direction: column;
    }

}

@media screen and (max-width: 768px) {

    .hero img{
    width: 30vh;
    height: 30vh;
    }
    .hero h1{
        font-size: 40px;
        margin-top: 50px;
        width: 9 0%;
    }
    .hero p{
        width: 60%;
        font-size: 18px;
        line-height: 32px;
        margin: 10px 0px;
    }

    .hero-action{
        gap: 16px;
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 50px;
    }

    .hero-connect{
        padding: 20px 30px;
        border-radius: 40px;
    }

    .hero-resume{
        padding: 20px 50px;
        border-radius: 40px;
    }
}